/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */


/*Modular Scale: https://www.modularscale.com/?16&px&1.25 */

/*Colors I'm using: https://www.schemecolor.com/ruby-logo-colors.php
Yellow: #EFA93F
Pink: #eda895 */




/* == Base Styles == */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px; /* 16px == 1em */
  line-height: 1.563em; /* 25px/16 == 1.563em */
  font-family: "Glacial Indifference", "Open Sans", sans-serif;
  padding: 1.953em; /* 31.25px == 1.953em */
  background-color: rgb(130, 12, 2);
  color: rgb(255, 255, 255);
}

h1,
h2,
h4 {
  color: #EFA93F;
  font-family: Georgia, serif;
}

h1 {
  font-weight: bold;
  font-size: 1.953em; /* 31.25px == 1.953em */
  line-height: 1.25em; /* 20px == 1.25em */
}

h2 {
  font-variant: small-caps;
  font-weight: bolder;
  font-size: 1.563em; /* 25px == 1.563em */
  padding-top: 1em;
}

h3 {
  font-weight: bold;
  font-size: 1.25em; /* 20px == 1.25em */
  padding-bottom: 0.512em; /* 8.192px == 0.512em */
}

h4 {
  font-weight: bolder;
  padding-bottom: 0.328em; /* 5.243px == 0.328em */
}

li {
  padding: 0;
  list-style: circle;
}

footer,
.footer {
  margin: -1.953em; /* 31.25px == 1.953em */
  font-style: italic;
  font-size: 0.72em; /* 11.52px/16= 0.72*/
}

a,
.h-card li,
.date-location-duration li {
  color: #EFA93F;
  font-size: 0.8em; /* 12.8px == 0.8em*/
  list-style: none;
}

.studies,
.work-title,
.poem li,
.image li {
  list-style: none;
}

.poem li {
  font-style: italic;
}

.poem-description {
  color: #EFA93F;
  padding-top: 1.25em; /* 20px == 1.25em */
}

.website-navigation {
  background-color: white;
  display: flex;
  padding: 0.64em; /*10.24px == 0.64em */
  justify-content: space-around;
}

#website-navigation li {
  list-style: none;
}

#page-navigation li {
  font-size: 1em;
  list-style: none;
  display: block;
  margin-bottom: 0.64em; /*10.24px == 0.64em */
  background-color: #EFA93F;
  width: 80%;
  padding-left: 1em;
  border-radius: 1.953em; /* 31.25px == 1.953em */
}

#education h2,
#education .date-location-duration li,
#awards h2,
#awards a,
#fiction h4,
#academic-essays h4,
#digital-media  h2,
#digital-media .date-location-duration li,
#digital-media a,
#design h2,
#design .date-location-duration li,
#website-navigation a,
#page-navigation a,
#game-design h4,
figcaption,
.fiction-description {
  color: rgb(130, 12, 2);
}



/* == Layout Rules == */
h1,
ul,
p,
article {
  padding-bottom: 1.25em; /* 20px/16= 1.25*/
}

img,
.image {
  display: block;
  padding: 0;
  max-width: 70%;
  min-width: 11.25em; /*180px/16 == 11.25m*/
}

figure {
  padding-top: 1.953em; /*31.25px == 1.953em */
}

#credits > section > figure > img {
  padding-top: 1em;
}

article,
section {
  padding-bottom: 1.953em; /* 31.25px == 1.953em */
  padding-top: 1.953em; /* 31.25px == 1.953em */
}

#website-footer {
  margin-top: 1.953em; /* 31.25px == 1.953em */
}

header > h1 {
  padding-bottom: 0.512em; /* 8.192px == 0.512em */
}

#portfolio > body > header {
  padding-bottom: 1.953em; /* 31.25px == 1.953em */
}

#website-navigation ul,
#page-navigation ul,
#contact-info {
  margin-left: 0;
}

#birth-place,
#education,
#intro-education,
#current-location,
#love,
#awards,
#fiction,
#academic-essays,
#digital-media,
#design {
  background-color: #EFA93F;
  margin-left: -1.953em;/* 31.25px == 1.953em */
  margin-right: -1.953em;  /* 31.25px == 1.953em */
  padding: 1.953em; /* 31.25px == 1.953em */
  padding-bottom: 0;
  margin-top: 0;
}

#intro > h2 {
  font-style: italic;
  font-family: "Glacial Indifferent", serif;
  letter-spacing: 0.262em; /*4.194px == 0.262em */
  font-size: 1em; /* 16px/16 == 1em*/
  padding-top: 0;
  text-align: center;
}

#profile-pic {
  min-width: 180px;
  border-radius: 9.313em; /*149.012px == 9.313em */
}

#profile-pic,
#description {
  margin-left: auto;
  margin-right: auto;
}

#education {
  margin-top: 3.052em;/* 48.828px == 3.052em */
}

#credits > h1 {
  color: white;
  margin-top: 1em;
  text-align: center;
  font-weight: bolder;
  font-size: 1.953em; /*31.25px == 1.953em */
  letter-spacing: 0.328em; /*5.243px == 0.328em */
  font-family: Times, serif;
  text-shadow: 1px 3px black; /* 1px 3px */
  padding-bottom: 0;
}

#credits > section > h3 {
  padding-bottom: 0;
}

/* == Module Rules == */
@media screen and (min-width: 700px) {

  body {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  header {
    margin-top: 1.953em; /*31.25px == 1.953em */
  }

  #work-experience,
  #poetry,
  #journalism,
  #programming,
  #research,
  #family,
  #passions,
  #do,
  #future {
    padding-left: 10%;
    padding-right: 10%;
    margin-left: -1.953em; /*31.25px == 1.953em */
    margin-right: -1.953em; /*31.25px == 1.953em */
  }

  #writing-title {
    padding-left: 10%;
    margin-left: -1.953em; /*31.25px == 1.953em */
  }

  #birth-place,
  #intro-education,
  #education,
  #current-location,
  #love,
  #awards,
  #digital-media,
  #design,
  #fiction,
  #academic-essays {
    background-color: #EFA93F;
    padding-left: 10%;
    padding-right: 10%;
  }

  #profile-pic {
    border-radius: 14.552em; /*232.831px == 14.552em */
    max-width: 25em; /*400px/16 == 25em */
  }

  #credits > h1 {
    padding-top: 1.953em; /*31.25px == 1.953em */
    font-size: 3.052em; /*48.828px ==3.052em */
  }

  #credits > section > h3 {
    text-align: center;
    padding-bottom: 0;
  }

  #fiction p,
  #academic-essays p {
    text-align: justify;
  }

  #journalism section {
    column-count: 2;
    column-width: 17.5em; /*280px/16== 17.5em */
  }

}


@media screen and (min-width: 1000px) {

  body {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  header {
    margin-top: 1.953em; /*31.25px == 1.953em */
  }

  #page-navigation li {
    margin-left: 0;
  }

  #work-experience,
  #poetry,
  #journalism,
  #programming,
  #research,
  #page-navigation,
  #family,
  #passions,
  #do,
  #future,
  aside,
  #error-content{
    padding-left: 20%;
    padding-right: 20%;
    margin-left: -1.953em; /*31.25px == 1.953em */
    margin-right: -1.953em; /*31.25px == 1.953em */
  }

  #writing-title {
    padding-left: 20%;
    margin-left: -1.953em; /*31.25px == 1.953em */
  }

  #birth-place,
  #intro-education,
  #education,
  #current-location,
  #love,
  #awards,
  #fiction,
  #academic-essays,
  #digital-media,
  #design {
    background-color: #EFA93F;
    padding-left: 20%;
    padding-right: 20%;
  }

  header {
    text-align: center;
    margin-top: 1.953em; /*31.25px == 1.953em */
  }

  .h-card {
    text-align: left;
    margin-bottom: 1.953em; /*31.25px == 1.953em */
  }

}


/* A quick baseline grid overlay using css+svg.
 Inspired by [Basehold.it](https://basehold.it/). @author leshido
 1. Paste this at the *very* bottom of your CSS file.
 2. Change the `height` value on `<svg height="" ...>` to the value
    of your `line-height` (in pixels).
 3. Add `class="g"` to your `<html>` tag to display the grid.
*/

.g body { position: relative; }

.g body::after {
 background: url('data:image/svg+xml;utf8,<svg height="25" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 0, 0.3)" /></svg>') repeat top left;
 content: "";
 display: block;
 pointer-events: none;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 z-index: 9999;
 position: absolute;
}

.g body:active::after { display: none; }
