/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*Modular Scale: https://www.modularscale.com/?16&px&1.25 */

/*Colors I'm using: https://www.schemecolor.com/ruby-logo-colors.php
Yellow: #EFA93F
Pink: #eda895 */


/* == Base Styles == */

* {
  box-sizing: border-box;
}

html {
  font-size: 1em; /* 16px/16 == 1em */
  line-height: 1.563em; /* 25px/16 == 1.563em */
  font-family: "Glacial Indifference", "Franklin Gothic", "Open Sans", sans-serif;
  padding: 1.953em; /* 31.25px/16 == 1.953em */
  background-color: rgb(130, 12, 2);
  color: rgb(255, 255, 255);
}

h1,
h2,
h4 {
  color: #EFA93F;
  font-family: Georgia, serif;
}

h1 {
  font-weight: bold;
  font-size: 1.75em; /* 28px/16 == 1.75em  */
  line-height: 1em; /* 28px/28 == 1em*/
}

h2 {
  font-variant: small-caps;
  font-weight: bolder;
  font-size: 1.563em; /* 25px/16 == 1.563em */
  padding-top: 0.64em; /*16px/25 == 0.64em */
}

h3 {
  font-weight: bold;
  font-size: 1.25em; /* 20px/16 == 1.25em */
  padding-bottom: 0.4096em; /* 8.192px/20px == 0.4096em */
}

h4 {
  font-weight: bolder;
  padding-bottom: 0.4096em; /* 8.192px/20px == 0.4096em */
  font-size: 1.125em; /* 18px/16 == 1.125em*/
}

h5 {
  font-weight: bolder;
  padding-bottom: 0.78125em; /*12.5px/16 == 0.78125em*/
  padding-top: 1.5625em; /* 25/16 == 1.5625em*/
}

li {
  padding: 0;
  list-style: circle;
}

footer {
  padding-top: 3.4285714286em; /*48px/14 == 3.4285714286em*/
  text-align: center;
  margin: -2.2321428571em; /* 31.25px/14 == 2.2321428571em */
  font-size: 0.875em; /*14px/16 == 0.875em*/
  margin-top: 0.7142857143em; /* 10/14 == 0.7142857143em*/
}

main {
  padding-top: 1.953em; /* 31.25px/16 == 1.953em */
}

a,
.h-card li,
.date-location-duration li {
  color: #EFA93F;
  font-size: 0.8em; /* 12.8px/16 == 0.8em*/
  list-style: none;
}

li > a {
  font-size: 1em; /*16px/16 =1em*/
}

.studies,
.work-title,
.poem li,
.image li {
  list-style: none;
}

.poem li {
  font-style: italic;
}

.description {
  padding-top: 1.5625em; /* 25/16 == 1.5625em*/
  font-weight: bold;
}

.odd-text,
.odd-text li,
.nav-text {
  color: rgb(130, 12, 2);
}

/*Website Navigation Styling*/
.website-navigation {
  padding-top: 0.64em; /*10.24px/16 == 0.64em */
  color: black;
}

#website-navigation li {
  list-style: none;
  margin-bottom: 0.625em; /*10px/16 == 0.625em*/
  padding: 0.375em; /*6px/16 == 0.375em*/
  background-color: white;
}

#website-navigation a {
  text-decoration: none;
  letter-spacing: 0.14285714em; /*2px/14 == 0.14285714em*/
  padding-right: 80%;
  font-size: 0.875em; /*14px/16 == 0.875em*/
}
/*Website Navigation Styling*/

#page-navigation {
  padding-bottom: 3.125em; /*50px/16 = 3.125em*/
}

#page-navigation li {
  list-style: none;
  padding-bottom: 4.6875em;/*75px/16 == 4.6875em*/
}

#page-navigation .nav-button {
  font-size: 1em; /*16/16px = 1em*/
  text-decoration: none;
  font-stretch: expanded;
  text-align: center;
  color: rgb(130, 12, 2);
  display: block;
  background-color: #EFA93F;
  border-top-left-radius: 1em; /*16/16px = 1em*/
  border-top-right-radius: 1em; /*16/16px = 1em*/
  padding-top: 1.5625em; /* 25/16 == 1.5625em*/
  padding-bottom: 1.5625em; /* 25/16 == 1.5625em*/
  margin-bottom: 0;
}

#page-navigation figcaption {
  font-size: 0.875em; /* 14/16 == 0.875em */
  letter-spacing: 0.10714286em; /* 1.5px/14 == 0.10714286em */
}

/* some interactivity */
#website-navigation li:active,
#website-navigation li:hover,
#website-navigation li:focus {
  background-color: #eda895;
}

#page-navigation a:active,
#page-navigation a:focus,
#page-navigation a:hover {
  background-color: white;
}
/* some interactivity */


/* == Layout Rules == */

ul,
p,
article {
  padding-bottom: 1.25em; /* 20px/16= 1.25*/
}

h1,
.title {
  padding-bottom: 0.64em; /* 20px/31.25 == 0.64em*/
}

img,
.image {
  display: block;
  padding: 0;
  max-width: 100%;
  min-width: 11.25em; /*180px/16 == 11.25m*/
}

img {
  box-shadow: 0 0.25em/*(4px/16 == 0.25em)*/ 0.5em/*(8px/16 ==0.5em)*/ 0 rgba(0, 0, 0, 0.2), 0 0.375em/*(6px/16 ==0.375)*/ 1.25em/*(20px/16 == 1.25em)*/ 0 rgba(0, 0, 0, 0.19);
}

figure {
  padding-top: 1.563em; /* 25px/16 == 1.563em */
}

#page-navigation figure {
  padding-top: 0;
}

article,
section {
  padding-bottom: 1.563em; /* 25px/16 == 1.563em */
  padding-top: 1.563em; /* 25px/16 == 1.563em */
}

/*don't add too much space around nested things*/
article > ul,
section > ul,
section > ol,
article > ol {
  padding-bottom: 0;
  padding-top: 0;
}
/*don't add too much space around nested things*/

#credits img {
  margin-top: 1em; /*16px/16 =1em*/
}

#website-navigation ul,
#page-navigation ul,
#contact-info {
  margin-left: 0;
}

.odd {
  background-color: #EFA93F;
  margin-left: -1.953em;/* 31.25px/16 == 1.953em */
  margin-right: -1.953em;  /* 31.25px/16 == 1.953em */
  padding: 1.953em; /* 31.25px/16 == 1.953em */
  margin-top: 0;
}

.footer.odd {
  margin-left: -2.2142857143em; /* 31px/14 == 2.2142857143em */
  margin-right: -2.2142857143em; /* 31px/14 == 2.2142857143em */
  margin-bottom: -2.2142857143em; /* 31px/14 == 2.2142857143em */
}

#intro-description {
  font-style: italic;
  font-family: "Glacial Indifferent", serif;
  font-size: 1em; /* 16px/16 == 1em*/
  letter-spacing: 0.262em; /* 4.194px/16 == 0.262em */
  padding-top: 0;
  text-align: center;
  max-width: 18.75em; /* 300px/16 == 18.75em*/
  margin-top: 1.5em; /*24px/16 == 1..5em;*/
}

#profile-pic {
  min-width: 6.25em; /* 100/16 == 6.25em*/
  width: 70%;
  border-radius: 10em; /*160px/16 == 10em */
}

#profile-pic,
#intro-description {
  margin-left: auto;
  margin-right: auto;
}

#education {
  margin-top: 3.052em;/* 48.828px/16 == 3.052em */
}

#awards ul {
  padding-bottom: 3.125em;/*50px/16 ==  3.125em*/
}

#credits {
  padding-top: 6.25em; /*100px/16 == 6.25em*/
}

#credits h3 {
  padding-bottom: 0;
  text-transform: capitalize;
  color: #EFA93F;
  font-size: 1.953em; /*31.25px == 1.953em */
  margin-top: 0.768em; /* 24px/31.25 == 0.768em */
  font-weight: bolder;
  font-family: Times, serif;
  text-shadow: 0.032em 0.096em black; /* 1px/31.25 == 0.032em*/ /* 3px/31.25 == 0.096em */
}

#credits article {
  padding-bottom: 3.125em; /* 50px/16 == 3.125em*/
}

#logo {
  display: none;
}

#line {
  box-shadow: none;
  width: 500%;
}

.mockup {
  box-shadow: none;
}

/* == State Rules == */
@media screen and (min-width: 27.5em) /*440px/16 == 27.5em*/ {

  .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.563em; /* 25px/16 == 1.563em */
    grid-gap: 1.563em; /* 25px/16 == 1.563em */
    align-content: center;
    justify-content: space-between;
  }

}

@media screen and (min-width: 37.5em) /* 600px/16 == 37.5em */ {

  body {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  header {
    margin-top: 1.953em; /*31.25px/16 == 1.953em */
  }

  .page-nav li {
    width: 35%;
  }

  .website-navigation {
    background-color: white;
    display: flex;
    padding: 0.64em; /*10.24px/16 == 0.64em */
    justify-content: space-around;
    flex-wrap: wrap;
    color: black;
  }

  #website-navigation a {
    margin-bottom: 0;
    padding-left: 3.125em;/*50px/16 == 3.125em*/
    padding-right: 3.125em;/*50px/16 == 3.125em*/
  }

  #website-navigation li {
    margin-bottom: 0;
  }

  .maincontainer .odd {
    background-color: #EFA93F;
    padding-left: 10%;
    padding-right: 10%;
  }

  .main-container,
  #page-navigation,
  #about-me {
    padding-left: 10%;
    padding-right: 10%;
    margin-left: -1.953em; /*31.25px/16 == 1.953em */
    margin-right: -1.953em; /*31.25px/16 == 1.953em */
  }

  #profile-pic {
    border-radius: 14.552em; /*232.831px/16 == 14.552em */
    max-width: 21.875em; /*350px/16 == 21.875em */
  }

  #credits h1 {
    font-size: 3.052em; /*48.828px/16 ==3.052em */
    padding-top: 0.64000164em; /*31.25px/48.828px == 0.64000164em*/
  }

  #fiction p,
  #academic-essays p {
    text-align: justify;
  }

  .newspaper-article {
    column-count: 2;
    column-width: 17.5em; /*280px/16== 17.5em */
  }

  .page-nav {
    display: flex;
    justify-content: flex-start;
    column-gap: 1.563em; /* 25px/16 == 1.563em */
    flex-flow: row wrap;
    flex-grow: 1;
    padding-top: 3.125em; /*50px/16 = 3.125em*/
  }

}

@media screen and (min-width: 52.8125em) /* 845px/16 == 52.8125em */ {

  header {
    text-align: center;
  }

  #website-navigation a {
    margin-bottom: 0;
    padding-left: 5.3125em;/* 85px/16 == 5.3125em*/
    padding-right: 5.3125em;/* 85px/16 == 5.3125em*/
  }

  .page-nav li {
    width: 28%;
  }

  #page-navigation li {
    margin-left: 0;
  }

  .main-container,
  #error-content {
    padding-left: 20%;
    padding-right: 20%;
  }

  .h-card,
  #page-navigation {
    text-align: left;
    margin-bottom: 1.953em; /*31.25px/16 == 1.953em */
  }

  #page-navigation {
    padding-top: 3.125em; /*50px/16 == 3.125em*/
  }

  #about-me {
    padding-top: 1.563em; /* 25px/16 == 1.563em */
    text-align: left;
    width: 60%;
  }

  #profile-pic {
    float: left;
    margin-left: 1.875em; /*30px/16 == 1.875em*/
    max-width: 18.75em; /*300px/16 == 18.75em*/
  }

  #intro figure {
    padding-bottom: 18.75em; /*300px/16 == 18.75em*/
  }

  #intro-description {
    max-width: none;
    font-variant: normal;
    font-style: normal;
    font-weight: lighter;
    /*font-family: "Virtual", "Brush Script MT", serif;*/
    font-family: Italianno, cursive;
    margin-top: -2.22222222em; /*80px/36 == 2.22222222em*/
    font-size: 2.25em; /* 36px/16 == 2.25em */
    line-height: 0.6666666667em; /*24px/36 == 0.6666666667em*/
    transform: scaleY(1.2);
    letter-spacing: 0.04166666667em; /* 1.5px/36 == 0.04166666667em*/
  }

  #credits {
    padding-top: 15.625em; /*250/16 == 15.625em*/
  }

  #credits article {
    padding-bottom: 6.25em; /* 100px/16 == 6.25em*/
  }

}

@media screen and (min-width: 66.875em) /* 1070px/16 == 66.875em */ {

  .main-container,
  #error-content {
    padding-left: 25%;
    padding-right: 25%;
  }

  #logo {
    display: block;
    position: absolute;
    margin-top: -14em;
    padding-left: 4.375em; /*70px/16 == 4.375em*/
    box-shadow: none;
    margin-left: 66%;
    width: 27%;
  }

  #website-navigation a {
    margin-bottom: 0;
    padding-left: 7.8125em; /*125px/16 == 7.8125em*/
    padding-right: 7.8125em; /*125px/16 == 7.8125em*/
  }

  .page-nav li {
    width: 22%;
  }

  #profile-pic {
    float: left;
    margin-left: 6.25em; /*100px/16 == 6.25em*/
  }

  #intro-description {
    max-width: none;
    margin-top: -2.0833333333em; /*100/48 == 2.0833333333em*/
    font-variant: normal;
    font-style: normal;
    font-weight: lighter;
    /*font-family: "Virtual", "Brush Script MT", serif;*/
    font-family: Italianno, cursive;
    font-size: 3em; /* 48px/16 == 3em */
    font-stretch: expanded;
    transform: scaleY(1.2);
    line-height: 0.8333333333em; /*40px/48 == 0.8333333333em */
    letter-spacing: 0.03125em; /*1.5px/48 == 0.03125em*/
  }

}
