/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*Modular Scale: https://www.modularscale.com/?16&px&1.25 */

/*Colors I'm using: https://www.schemecolor.com/ruby-logo-colors.php
Yellow: #EFA93F
Pink: #eda895 */


/* == Base Styles == */
* {
  box-sizing: border-box;
}

html {
  font-size: 1em; /* 16px/16 == 1em */
  line-height: 1.563em; /* 25px/16 == 1.563em */
  font-family: "Glacial Indifference", "Franklin Gothic", "Open Sans", sans-serif;
  padding: 1.953em; /* 31.25px/16 == 1.953em */
  background-color: rgb(130, 12, 2);
  color: rgb(255, 255, 255);
}

h1,
h2,
h4 {
  color: #EFA93F;
  font-family: Georgia, serif;
}

h1 {
  font-weight: bold;
  font-size: 1.75em; /* 28px/16 == 1.75em  */
  line-height: 1em; /* 28px/28 == 1em*/
}

h2 {
  font-variant: small-caps;
  font-weight: bolder;
  font-size: 1.563em; /* 25px/16 == 1.563em */
  padding-top: 0.64em; /*16px/25 == 0.64em */
}

h3 {
  font-weight: bold;
  font-size: 1.25em; /* 20px/16 == 1.25em */
  padding-bottom: 0.4096em; /* 8.192px/20px == 0.4096em */
}

h4 {
  font-weight: bolder;
  padding-bottom: 0.328em; /* 5.243px == 0.328em */
}

h5 {
  font-weight: bolder;
  padding-bottom: 12.5px;
  padding-top: 25px;
}

li {
  padding: 0;
  list-style: circle;
}

footer {
  padding-top: 200px;
  text-align: center;
  margin: -1.953em; /* 31.25px/16 == 1.953em */
  font-style: italic;
  font-size: 0.72em; /* 11.52px/16= 0.72*/
}

a,
.h-card li,
.date-location-duration li {
  color: #EFA93F;
  font-size: 0.8em; /* 12.8px/16 == 0.8em*/
  list-style: none;
}

li > a {
  font-size: 1em; /*16px/16 =1em*/
}

.studies,
.work-title,
.poem li,
.image li {
  list-style: none;
}

.poem li {
  font-style: italic;
}

.description {
  margin-top: 12.5px;
  padding: 12.5px;
  border-radius: 25px;
}

#poetry .description {
  color: #EFA93F;
}

.odd-text,
.odd-text li,
.nav-text {
  color: rgb(130, 12, 2);
}

.description {
  background-color: white;
}

/*Website Navigation Styling*/
.website-navigation {
  padding-top: 0.64em; /*10.24px/16 == 0.64em */
  color: black;
}

#website-navigation li {
  list-style: none;
  margin-bottom: 0.625em; /*10px/16 == 0.625em*/
  padding: 0.375em; /*6px/16 == 0.375em*/
  background-color: white;
}

#website-navigation a {
  text-decoration: none;
  letter-spacing: 0.1em;
  padding-right: 80%;
}
/*Website Navigation Styling*/


#page-navigation {
  padding-bottom: 3.125em; /*50px/16 = 3.125em*/
}

#page-navigation li {
  list-style: none;
  padding-bottom: 75px;
}

#page-navigation a {
  font-size: 1em; /*16px*/
  text-decoration: none;
  font-stretch: expanded;
  text-align: center;
  display: block;
  margin-bottom: 0.64em; /*10.24px/16 == 0.64em */
  background-color: #EFA93F;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 0;
}

#page-navigation figure {
  padding-top: 0;
}

/* some interactivity (?) */
#website-navigation li:active,
#website-navigation li:hover,
#website-navigation li:focus {
  background-color: #eda895;
}

#page-navigation a:active,
#page-navigation a:focus,
#page-navigation a:hover {
  background-color: white;
}
/* some interactivity (?) */


/* == Layout Rules == */
ul,
p,
article {
  padding-bottom: 1.25em; /* 20px/16= 1.25*/
}

h1,
.title {
  padding-bottom: 0.64em; /* 20px/31.25 == 0.64em*/
}

img,
.image {
  display: block;
  padding: 0;
  max-width: 100%;
  min-width: 11.25em; /*180px/16 == 11.25m*/
}

figure {
  padding-top: 1.563em; /* 25px/16 == 1.563em */
}

article,
section {
  padding-bottom: 1.563em; /* 25px/16 == 1.563em */
  padding-top: 1.563em; /* 25px/16 == 1.563em */
}

/*don't add too much space around nested things*/
article > ul,
section > ul,
section > ol,
article > ol {
  padding-bottom: 0;
  padding-top: 0;
}
/*don't add too much space around nested things*/

#credits img {
  padding-top: 1em; /*16px/16 =1em*/
}

#portfolio > body > header {
  padding-bottom: 1.953em; /* 31.25px/16 == 1.953em */
}

#website-navigation ul,
#page-navigation ul,
#contact-info {
  margin-left: 0;
}

.odd {
  background-color: #EFA93F;
  margin-left: -1.953em;/* 31.25px/16 == 1.953em */
  margin-right: -1.953em;  /* 31.25px/16 == 1.953em */
  padding: 1.953em; /* 31.25px/16 == 1.953em */
  margin-top: 0;
}

#intro > h2 {
  font-style: italic;
  font-family: "Glacial Indifferent", serif;
  font-size: 1em; /* 16px/16 == 1em*/
  letter-spacing: 0.262em; /* 4.194px/16 == 0.262em */
  padding-top: 0;
  text-align: center;
}

#profile-pic {
  min-width: 6.25em; /* 100/16 == 6.25em*/
  width: 70%;
  border-radius: 10em; /*160px/16 == 10em */
}

#profile-pic,
#description {
  margin-left: auto;
  margin-right: auto;
}

#education {
  margin-top: 3.052em;/* 48.828px/16 == 3.052em */
}

#awards ul {
  padding-bottom: 50px;
}

#credits h1 {
  text-transform: uppercase;
  color: white;
  font-size: 1.953em; /*31.25px == 1.953em */
  margin-top: 0.768em; /* 24px/31.25 == 0.768em */
  text-align: center;
  font-weight: bolder;
  letter-spacing: 0.167776em; /*5.243px/31.25 == 0.167776em */
  font-family: Times, serif;
  text-shadow: 0.032em 0.096em black; /* 1px/31.25 == 0.032em*/ /* 3px/31.25 == 0.096em */
}

#credits h3 {
  font-family: serif;
  padding-bottom: 0;
}

  #logo {
    display: none;
  }

  }
/* == State Rules == */

@media screen and (min-width: 27.5em) /*440px/16 == 27.5em*/ {
  .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.563em; /* 25px/16 == 1.563em */
    grid-gap: 1.563em; /* 25px/16 == 1.563em */
    align-content: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 37.5em) /* 600px/16 == 37.5em */ {

  body {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  header {
    margin-top: 1.953em; /*31.25px/16 == 1.953em */
  }

  .website-navigation {
    background-color: white;
    display: flex;
    padding: 0.64em; /*10.24px/16 == 0.64em */
    justify-content: space-around;
    flex-wrap: wrap;
    color: black;
  }

  #website-navigation li {
    margin-bottom: 0;
  }

  .maincontainer .odd {
    background-color: #EFA93F;
    padding-left: 10%;
    padding-right: 10%;
  }

  .main-container,
  #page-navigation,
  #about-me {
    padding-left: 10%;
    padding-right: 10%;
    margin-left: -1.953em; /*31.25px/16 == 1.953em */
    margin-right: -1.953em; /*31.25px/16 == 1.953em */
  }

  #writing-title {
    padding-left: 10%;
    margin-left: -1.25em; /*31.25px/25px == 1.25em */
  }

  #profile-pic {
    border-radius: 14.552em; /*232.831px/16 == 14.552em */
    max-width: 21.875em; /*350px/16 == 21.875em */
  }

  #credits > h1 {
    font-size: 3.052em; /*48.828px/16 ==3.052em */
    padding-top: 0.64000164em; /*31.25px/48.828px == 0.64000164em*/
  }

  #fiction p,
  #academic-essays p {
    text-align: justify;
  }

  #journalism section {
    column-count: 2;
    column-width: 17.5em; /*280px/16== 17.5em */
  }

  #page-navigation a {
    width: 100%;
  }
  .page-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12.5px;
    grid-gap: 12.5px;
    align-content: center;
    justify-content: space-between;
  }

}

@media screen and (min-width: 52.8125em) /* 845px/16 == 52.8125em */ {
  #page-navigation li {
    margin-left: 0;
  }

  .main-container,
  #error-content {
    padding-left: 20%;
    padding-right: 20%;
  }

  #writing-title {
    padding-left: 20%;
  }

  header {
    text-align: center;
  }

  .h-card,
  #page-navigation {
    text-align: left;
    margin-bottom: 1.953em; /*31.25px/16 == 1.953em */
  }

  #page-navigation {
    padding-top: 50px;
  }
  
    #about-me {
    padding-top: 25px;
    text-align: left;
    width: 60%;
  }

}

@media screen and (min-width: 1070px) /* 1050px/16 == 52.8125em */ {
  .main-container,
  #error-content {
    padding-left: 25%;
    padding-right: 25%;
  }

  #writing-title {
    padding-left: 25%;
  }

  .page-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12.5px;
    grid-gap: 12.5px;
    align-content: center;
    justify-content: space-between;
  }

  #logo {
    display: block;
    position: absolute;
    margin-top: -11em;
    padding-left: 80%;
    width: 30px;
  }

  }
